.App {
  text-align: center;
}

.App-dark {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.pilt {
  width: 100px;
  /* height: 100px; */
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.pilt:active {
  transform: scale(0.95);
}

.keskus-aktiivne {
  color: purple;
  text-decoration: underline;
}

table {
  width: 80%;
  margin: 0 10%;
}

td, th {
  border: 1px solid black;
}

.map {
  height: 300px;
  margin: 3%;
  border-radius: 10px;
}